
<div>
    <div>
      <span>{{currentWeather.Temperature}}</span>
      <span></span>
    </div>
    <div>
      <div>
        <span>{{currentWeather.Location}}</span>
      </div>
      <div>
        <span>{{currentWeather.Timestamp}}</span>
      </div>
    </div>
    <div>
      <span>{{currentWeather.Summary}}</span>
    </div>
  </div>
  
  <div>
    <div>
      <div>
        <span>{{currentWeather.Humidity}}</span>
        <span>%</span>
      </div>
      <div>
        <span>Humidity</span>
      </div>
    <div>
  
    <div>
      <div>
        <span>{{currentWeather.Visibility}}</span>
        <span>mi</span>
      </div>
      <div>
        <span>Visibility</span>
      </div>
    <div>
  
      <div>
        <div>
          <span>{{currentWeather.UVIndexRating}}</span> 
          <span>{{currentWeather.UVIndex}}</span>
        </div>
        <div>
          <span>UV Index</span>
        </div>
      <div>
  </div>
</div>
<div>
    <img src="../../assets/cloudscape-5563794_1920.jpg">
</div>